.home-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  text-align: center;
}

.unique-addresses-table {
  margin: 0 auto; /* Centers the table horizontally */
  border-collapse: collapse;
  width: 100%; /* Adjust the width as needed */
}

.unique-addresses-table th, 
.unique-addresses-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.unique-addresses-table th {
  background-color: #f2f2f2;
  text-align: center;
}
